# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración personal
*.env
*.log
.idea/
.vscode/

# Entorno virtual
venv/
__pycache__/
*.pyc

# Archivos de configuración
.env
*.log

node_modules/