{% extends 'base.html' %}
{% load static %}
{% block body %}
<form method="post" id="miFormulario">
    {% csrf_token %}
    <div class="form-group">
        <!-- Aquí van los campos del formulario, como los que ya tienes -->
        <div class="input-group mt-2">
            <span class="input-group-text">Fecha</span>
            <input type="date" id="fechaInput" class="form-control" readonly />
        </div>
        <div class="input-group mt-2">
            <span class="input-group-text">Tienda</span>
            <select id="tiendaSelect" name="tienda" class="form-control">
                <option value="">-- Selecciona una tienda --</option>
                {% for tienda in Tiendas|dictsort:"numero_rtpro" %}
                    {% if tienda.numero_rtpro != "0" and tienda.numero_rtpro != 0 %}
                        <option value="{{ tienda.numero_rtpro }}">{{ tienda.numero_rtpro|add:' - ' }}{{ tienda.nombre_tienda }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group mt-2">
            <span class="input-group-text">Zona</span>
            <input type="number" id="zonaInput" class="form-control" placeholder="Zona" />
        </div>
        <div class="input-group mt-2">
            <span class="input-group-text">Cantidad</span>
            <input type="number" id="cantidadInput" class="form-control" value="1" disabled />
        </div>
        <div class="input-group mt-2">
            <span class="input-group-text">SKU</span>
            <input type="text" id="skuInput" class="form-control" placeholder="SKU" />
        </div>
        <button type="button" class="btn btn-success mt-3" id="agregarBtn">Agregar</button>
    </div>
    <p>Total de elementos: <span id="contadorElementos" value="0">0</span></p>

    <h3>Inventariado</h3>
    <div class="table-container">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Modelo</th>
                    <th>Zona</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody id="inventarioBody">
                <!-- Aquí se agregarán las filas de inventario -->
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-primary mt-3" id="enviarBtn">Enviar</button>
    <button type="button" class="btn btn-danger mt-3" id="limpiarBtn">Limpiar</button>
</form>

<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% endblock %}
