<form method="get">
    <label for="store">Selecciona la tienda:</label>
    <select name="store" id="store">
        <option value="001">Tienda 001</option>
        <option value="002">Tienda 002</option>
        <!-- Agrega más opciones según las tiendas -->
    </select>
    <label for="start_date">Fecha de inicio:</label>
    <input type="date" name="start_date" id="start_date">
    <label for="end_date">Fecha de fin:</label>
    <input type="date" name="end_date" id="end_date">
    <button type="submit">Predecir</button>
</form>

{% if predicciones %}
    <table>
        <thead>
            <tr>
                <th>Tienda</th>
                <th>Predicción de ventas</th>
                <th>Mes Predicción</th>
            </tr>
        </thead>
        <tbody>
            {% for prediccion in predicciones %}
                <tr>
                    <td>{{ prediccion.tienda }}</td>
                    <td>{{ prediccion.prediccion }}</td>
                    <td>{{ prediccion.mes_prediccion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
